/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 févr. 2016, 21:22:58
    Author     : Jean
*/

#attributesEdit {
    margin: 10px;
}

#saveOnQuit {
    display:none;
}

#attributesEdit input[type='text'] {
    width: 97%;
}